.dashboard-main {
  display: flex;
  height: calc(100vh - 80px);
  gap: 10px;
}

.tabs {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

#tab-content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.practice-calendar {
  border-collapse: collapse;
}

.practice-calendar td {
  border: 1px solid #aaa;
  width: 40px;
  height: 40px;
  text-align: center;
}

.card {
  border: 1px solid #aaa;
  padding: 10px;
  margin: 5px 0;
}